<!--
 * Transition - vCard Theme
 *
 * Copyright 2013 
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 * Created by: Carlos Alvarez
 * URL: http://www.basicoh.com
 * Designed and built based on Twitter Bootstrap.
 * Tags: multipurpose, agency theme, one page, single page, responsive, flat */
--> 

<!DOCTYPE html>
<html lang="en">
  <head>
    
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon-57-precomposed.png">


  </head>

  <body>


    <div class="container">

			<div id="bl-main" class="bl-main">
			
			<!--=========== ABOUT SECTION ===========-->
				<section>
					<div class="bl-box">
						<h2 >John Ramster</h2> <!-- class="bl-icon bl-icon-about" -->
					</div><!-- /bl-box -->
					<div class="bl-content">
						<div class="row-fluid">
							<div class="span12">
								<h2>About John</h2>
								<p>John is a director, writer and teacher. Born in East Anglia, he studied History at Cambridge, beginning his career as assistant to the late Clare Venables, then spent eight years with the Glyndebourne Festival.  An Honorary Associate of the Royal Academy of Music in London,  he has lectured in Drama for the Royal Academy Opera for nine years.  John’s many RAO productions include Die Dreigroschenoper, Curlew River, La finta giardiniera, Hänsel und Gretel, The Rape of Lucretia, School for Fathers, Rinaldo, The Choice of Hercules, La Calisto.</p>

								<p>His productions include Le nozze di Figaro for Turku Opera in Finland, the UK premiere of Bloch’s Macbeth for University College Opera, Lucia di Lammermoor for the Belgrade National Opera (for which John received an award from the Belgrade National Theatre for Outstanding Artistic Achievement), Rigoletto for the Iford Festival and Hansel and Gretel and The Marriage of Figaro for Opera Theatre Company in Ireland. His productions for Opera Faber of L’elisir d’amore and Don Giovanni have been acclaimed in Portugal and Spain. John has also directed baroque gesture productions: Ariodante for the Cambridge Handel Opera Group and Il pastor fido for the London Handel Festival and Royal College of Music.</p>
								<p>
								He has an ongoing touring staged production of Handel's Messiah for the Merry Opera Company for whom he has recently written a new pasticcio called "Kiss me, Figaro!".  For the Royal Academy Opera, John has directed many shows, including The Lighthouse, Eugene Onegin, La finta giardiniera, Hänsel und Gretel, School for Fathers, Rinaldo, The Choice of Hercules, La Calisto, Die Dreigroschenoper, Mansfield Park and a double bill of Vaughan Williams’s Riders to the Sea and Britten’s Curlew River.</p>
								<br />
								<h2>Teaching:</h2>
								<p>currently, RAM, Guildhall and the Jette Parker Young Artist Programme (Covent Garden).  Also, Birmingham Conservatoire, the Royal Conservatoire of Scotland, the young artist scheme at the Casa da Musica in Porto, Irish Vocal Masterclasses and the AIMS summer school.</p>
								<br />
								<h2>Awards:</h2>
								<p>the Glyndebourne Festival/Keith Showering Memorial Award; a Churchill Fellowship in Opera Production and Design.</p>
								<br />
								<h2>Wrtting:</h2>
								<p>John’s writing includes the novel Ladies’ Man (seven foreign editions) and some screenwriting work for television dramas and comedies. He also edited the libretto for Quartermaine Smith’s song cycle on Elizabeth Tudor, Songs of Autobiography. He is currently writing a murder mystery set in Handel’s London. Future plans include the first revival of Jonathan Dove’s Mansfield Park for the RAO.</p>
								<div class="row-fluid">
									<div class="span8">
<!-- 									<h2>My Skills</h2> -->
									    <!-- Progress Bar --> 
										<!-- <div class="progress">
										<div class="bar" style="width: 73%;">HTML/CSS 73%</div>
										</div>  
										<div class="progress">
										<div class="bar" style="width: 100%;">Web Design 100%</div>
										</div>  
										<div class="progress">
										<div class="bar" style="width: 78%;">Photography 78%</div>
										</div>  
										<div class="progress">
										<div class="bar" style="width: 80%;">Sound Design 80%</div>
										</div>  
										<div class="progress">
										<div class="bar" style="width: 63%;">Party 63%</div>
										</div>  -->
										<!-- Progress Bar End --> 
									</div><!-- /span6 -->
									<div class="span4"></div>
									<div class="span12">
										<br>
										<br>
									</div>
									<div class="span12">
										<div class="row about-us">
											<div class="span3">
											<h3><i class="icon-user icon-white"></i> More About Me?</h3>
											Claritas est etiam processus dynamicus, and mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc. Parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima.
											</div>
											<div class="span3">
											<h3><i class="icon-heart icon-white"></i> What I Love</h3>
											Claritas est etiam processus dynamicus, and mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc. Parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima.
											</div>
											<div class="span3">
											<h3><i class="icon-fire icon-white"></i> Work Hard</h3>
											Claritas est etiam processus dynamicus, and mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc. Parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima.
											</div>   
											<div class="span3">
											<h3><i class="icon-plane icon-white"></i> Ready To Go</h3>
											Claritas est etiam processus dynamicus, and mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc. Parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima.
											</div>   
										</div><!-- /row-about-us -->  
									</div><!-- /span12 -->
								</div><!-- /row -->
							</div><!-- /span12 -->
						</div><!-- /row-fluid -->
						
					</div><!-- /bl-content -->
					<span class="bl-icon bl-icon-close"></span>
				</section>
				
				
				
			<!--=========== LATEST NEWS SECTION ===========-->
				<section id="bl-work-section">
					<div class="bl-box">
						<h2 >News & Latest Productions</h2> <!-- class="bl-icon bl-icon-works"-->
					</div>
					<div class="bl-content">
						<h2>Some Recent Projects</h2>
						<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
						<p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
						<p></p>
						<p></p>
						<div class="row-fluid">
							<div class="span4">
								<ul id="bl-work-items" style="list-style: none;">
									<li data-panel="panel-1"><a href="#"><img src="assets/LeNozze.png" /></a></li>
								</ul>
								<p>Le Nozze di Figaro</p>							
							</div><!-- /span4 -->
							<div class="span4">
								<ul id="bl-work-items">
									<li data-panel="panel-2"><a href="#"><img src="assets/rakesprogress.png" /></a></li>
								</ul>
								<p>Rake's Progress</p>							
							</div><!-- /span4 -->
							<div class="span4">
								<ul id="bl-work-items">
									<li data-panel="panel-3"><a href="#"><img src="assets/lighthouse.png" /></a></li>
								</ul>
								<p>Light House</p>							
							</div><!-- /span4 -->

						</div><!-- /row-fluid -->
					</div><!-- /bl-content -->
					<span class="bl-icon bl-icon-close"></span>
				</section>
				
				
				
			<!--=========== PROJECT PORTFOLIO SECTION ===========-->
				<section>
					<div class="bl-box">
						<h2>Portfolio Gallery</h2>
					</div>
					<div class="bl-content">
						<h2>Past Projects</h2>
						<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
						<p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
						<p></p>
						<p></p>
						<div class="row-fluid">
							<div class="span4">
								<ul id="bl-work-items" style="list-style: none;">
									<li data-panel="panel-1"><a href="#"><img src="assets/LeNozze.png" /></a></li>
								</ul>
								<p>Le Nozze di Figaro</p>							
							</div><!-- /span4 -->
							<div class="span4">
								<ul id="bl-work-items">
									<li data-panel="panel-2"><a href="#"><img src="assets/rakesprogress.png" /></a></li>
								</ul>
								<p>Rake's Progress</p>							
							</div><!-- /span4 -->
							<div class="span4">
								<ul id="bl-work-items">
									<li data-panel="panel-3"><a href="#"><img src="assets/lighthouse.png" /></a></li>
								</ul>
								<p>Light House</p>							
							</div><!-- /span4 -->

						</div><!-- /row-fluid -->
					</div><!-- /bl-content -->
					<span class="bl-icon bl-icon-close"></span> -->
				</section>
				
				
				
			<!--=========== CONTACT SECTION ===========-->
				<section>
					<div class="bl-box">
						<h2 >Contact Me</h2>
					</div>
					<div class="bl-content">
						<div class="row-fluid">
							<div class="span12">
								<h2>Get in touch</h2>
								<br>
								<p>I am available for freelance jobs. Please contact me and send me your questions and inquiries.</p>								
							
							<p>
								<p>your@email.com | +34 600669933 | Madrid, Spain</p>
							</p>
							
							<p>
								<a href="#" class="social-network facebook"></a>
								<a href="#" class="social-network pinterest"></a>
								<a href="#" class="social-network flickr"></a>
								<a href="#" class="social-network dribbble"></a>
								<a href="#" class="social-network twitter"></a>
								<a href="#" class="social-network apple"></a>
								<a href="#" class="social-network skype"></a>
								<a href="#" class="social-network tumblr"></a>
								<a href="#" class="social-network vimeo"></a>
							</p>
							
						</div>
					</div>
					<span class="bl-icon bl-icon-close"></span>
				</section>
				
				
				
				
			<!--=========== PROJECTS DESCRIPTIONS SECTION ===========-->
				<div class="bl-panel-items" id="bl-panel-work-items">
					<div data-panel="panel-1">
						<div class="row-fluid">
							<div class="span8 offset2 tweak">
								<img src="assets/LeNozze.png" />
								<br>
								<br>
								<h4>Project Overview</h4>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
								<h4>Project Details</h4>
								<p>When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
							</div><!-- /span8 -->
						</div><!-- /row-fluid -->	
					</div><!-- /panel1 -->
					
					<div data-panel="panel-2">
						<div class="row-fluid">
							<div class="span8 offset2 tweak">
							<img src="assets/rakesprogress.png" />
							<br>
							<br>
							<h4>Project Overview</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
							<h4>Project Details</h4>
							<p>When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
							</div><!-- /span8 -->
						</div><!-- /row-fluid -->	
					</div><!-- /panel2 -->
					
					<div data-panel="panel-3">
						<div class="row-fluid">
							<div class="span8 offset2 tweak">
							<img src="assets/lighthouse.png" />
							<br>
							<br>
							<h4>Project Overview</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
							<h4>Project Details</h4>
							<p>When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
							</div><!-- /span8 -->
						</div><!-- /row-fluid -->	
					</div><!-- /panel3 -->
					
					<nav>
						<span class="bl-next-work">&gt; Next Project</span>
						<span class="bl-icon bl-icon-close"></span>
					</nav>
				</div><!-- /panel-items -->
				
				
			</div><!-- /bl-main -->

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    	<script type="text/javascript" src="/assets/boxlayout.js"></script>
    	<script>
			$(function() {
				Boxlayout.init();
			});
		</script>
  </body>
</html>
