<% if @photo.new_record? %>
  alert("Failed to upload photo: <%= j @photo.errors.full_messages.join(', ').html_safe %>");
<% else %>
  $(".photos").append("<div class = 'col-xs-6 col-md-3'><%= j image_tag @photo.picture_url(:thumb).to_s, :class => 'thumbnail' %></div>");
<% end %>