<span class="instruction-text">(Select muliple records to make changes.)</span>
<%= submit_tag "Quick Edit", :class => 'btn btn-mini btn-primary btn-index pull-right' %>
<% if current_user.is_admin? %>
	<%= submit_tag "Publish", name: 'publish', :class => 'btn btn-mini btn-primary btn-index pull-right' %>
	<%= submit_tag "Unpublish", name: 'unpublish', :class => 'btn btn-mini btn-danger btn-index pull-right' %>
	<%= submit_tag "Delete", name: 'delete', :class => 'btn btn-mini btn-danger btn-index pull-right' %>
<% end %>